<%
img = '../../img/wolf';
%>

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>紫狼游戏</title>
	
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/keyframes.css">
	<link rel="stylesheet" href="css/font-awesome.css">
</head>

<body>
	<div class="side_tabs">
		<ul>
			<li class="selected"></li><li></li><li></li><li></li><li></li>
		</ul>
	</div>
	
	<ul class="slider wrapper">
		<li class="first" style="background:url(<%=img%>/cont1_bg.png) center;">	
			<div class="navbar wrapper">
				<div class="navbar-container">
					<img class="top_logo" src="<%=img%>/logo_1.jpg">
					<ul class="nav">
						<li><a href="">紫狼首页</br/><span>HOME</span></a></li>
						<li><a href="">紫狼资讯</br/><span>NEWS</span></a></li>
						<li><a href="">加入紫狼</br/><span>JOIN US</span></a></li>
						<li><a href="">商务合作</br/><span>BUSINESS</span></a></li>
						<li><a href="">关于紫狼</br/><span>ABOUT US</span></a></li>
						<li><a href="">联系我们</br/><span>CONTACT US</span></a></li>
					</ul>
				</div>
			</div>
			<div class="line wrapper" style="background:url(<%=img%>/nav_bot.jpg) center;"></div>
			<div class="container">
				<img class="logo" src="<%=img%>/logo.png">
				<div class="animation">
					<div class="round blue"></div>
					<div class="round lightblue"></div>
					<div class="round yellow"></div>
					<div class="round red"></div>
					<div class="round violet"></div>
					<div class="round green"></div>
					<div class="round purple"></div>
				</div>
				<p class="title">全新的紫狼游戏</p>
				<p>紫狼游戏创立于2008年，发起人是一群游戏研发小伙伴，<br/>从玩游戏到做游戏，从做游戏到自己创业，我们一直在努力前进。<br/>创始人中有多位高级程序员，因此公司成立之初就灌注了浓厚的技术基因，<br/>多年来，我们一直以工匠精神为理念，不忘初心、戒骄戒躁、潜心研发。</p>				
			</div>
		</div>
		<!---->
		<li class="second" style="background:url(<%=img%>/cont2_bg.jpg) center;">
			<div class="container">
				<p class="title">做业内最优秀的游戏开拓者</p>
				<p class="content">紫狼软件是一家专业从事游戏、软件研发的新生代高科技集团化企业。<br/>由一群经验丰富、技术扎实、严谨的年轻人创建，是一个具有创造力和核心竞争力的团队。<br/>紫狼致力于为玩家及用户带来高品质的游戏。<br/>力争成为最优秀的虚拟世界创作者。</p>
				<img class="warrior" src="<%=img%>/cont2_m.png">
			</div>
		</li>
		<!---->
		<li class="third" style="background:url(<%=img%>/cont3_bg.png) 100%;">
			<div class="container">
				<p class="title">企业文化</p>
				<ul class="culture">
					<li>
						<p>紫狼愿景</p>
						<p>成为全球卓越领先的游戏服务提供商!</p>
					</li>
					<li>
						<p>紫狼使命</p>
						<p>力争成为最优秀的虚拟世界开拓者!</p>
					</li>
					<li>
						<p>紫狼价值观</p>
						<p>创业创新、勤奋务实、诚信共赢、人生如戏!</p>
					</li>
				</ul>
			
				<ul class="gallery">
					<a href=""><img class="p1" src="<%=img%>/cont3_demo1.png"></a>
					<a href=""><img class="p2" src="<%=img%>/cont3_demo2.png"></a>
					<a href=""><img class="p3" src="<%=img%>/cont3_demo3.png"></a>
					<a href=""><img class="p4" src="<%=img%>/cont3_demo4.png"></a>
					<a href=""><img class="p5" src="<%=img%>/cont3_demo5.png"></a>
					<a href=""><img class="p6" src="<%=img%>/cont3_demo6.png"></a>
					<a href=""><img class="p7" src="<%=img%>/cont3_demo7.png"></a>
					<a href=""><img class="p8" src="<%=img%>/cont3_demo8.png"></a>
					<div class="clear"></div>
				</ul>
		
			</div>
		</li>
		<li class="fourth" style="background:url(<%=img%>/cont4_bg.jpg) 100%;">
			<div class="container centered">
				<p class="title">发展历程</p>
				<p class="desc">
					2012年，团队组建，紫狼游戏蓄势诞生。<br/>
					经过三年的努力，紫狼游戏已经在产业链条中积累了相当的资源，<br/>
					我们的竞争优势会与日俱增。
				</p>
				<div class="cards-container container">
					<img class="prev" src="<%=img%>/left.png">
					<img class="next" src="<%=img%>/right.png">
					<div class="cards">
						<img class="card card1" src="<%=img%>/cont4_demo1.png">
						<img class="card card2" src="<%=img%>/cont4_demo2.png">					
						<img class="card card3" src="<%=img%>/cont4_demo3.png">
						<img class="card card4" src="<%=img%>/cont4_demo4.png">
						<img class="card card5" src="<%=img%>/cont4_demo5.png">					
						<img class="card card6" src="<%=img%>/cont4_demo6.png">
						<img class="card card7" src="<%=img%>/cont4_demo7.png">
					</div>
				</div>
				<div class="timeline" style="background:url(<%=img%>/time.png) no-repeat;background-size:100%;">
					<ul class="month">
						<li class="month0">2012年3月</li>
						<li class="month1">2013年2月</li>
						<li class="month2">2014年6月</li>
						<li class="month3">2015年</li>
						<li class="month4">2015年4月</li>
						<li class="month5">2015年6月</li>
						<li class="month6">2015年7月</li>
					</ul>
				</div>
			</div>
		</li>
		<li class="fifth" style="background:url(<%=img%>/cont5_bg.jpg) 100%;">
			<div class="centered container">
				<p class="title">公司分布</p>
				<p class="desc">
公司总部位于江苏省南通市经济开发区，并于<span>北京、南京、上海</span>等地设立分支机构。优秀而富有经验的人才团队是紫狼游戏最大的核心优势与最宝贵的财富。
				</p>
				<ul class="company">
					<li>
						<div class="upper">
							<p class="name">
								南通·NanTong
							</p>
							<img src="<%=img%>/cont5_demo3.jpg">
							
						</div>
						<div class="lower">
							<p class="city_name">
								南通总部
							</p>
							<p class="city_desc">
								坐落在近代第一城-南通，下设：运营中心，市场部，客服中心，技术中心，运维中心等。
							</p>
						</div>
					</li>
					<li>
						<div class="upper">
							<p class="name">
								北京·BeiJing
							</p>
							<img src="<%=img%>/cont5_demo1.jpg">
							
						</div>
						<div class="lower">
							<p class="city_name">
								北京分部
							</p>
							<p class="city_desc">
								世界历史文化名城和古都之一-北京，下设：技术中心，市场部，行政部等。
							</p>
						</div>
					</li>
					<li>
						<div class="upper">
							<p class="name">
								上海·Shanghai
							</p>
							<img src="<%=img%>/cont5_demo4.jpg">
							
						</div>
						<div class="lower">
							<p class="city_name">
								上海分部
							</p>
							<p class="city_desc">
								远东第一大城市-上海，下设：运营中心，美术部，商务部，技术中心等。
							</p>
						</div>
					</li>
					<li>
						<div class="upper">
							<p class="name">
								南京·Nanjing
							</p>
							<img src="<%=img%>/cont5_demo2.jpg">
							
						</div>
						<div class="lower">
							<p class="city_name">
								南京分部
							</p>
							<p class="city_desc">
								中国四大古都之一-南京，下设：美术部，策划部，行政部，技术中心等。
							</p>
						</div>
					</li>
				</ul>
			</div>		
			<!-- footer -->
			<div class="footer wrapper">
				<img src="<%=img%>/footer-line.jpg">
				<div class="container">
					<div class="left">
						<ul class="nav">
							<a href="">紫狼首页</a>
							<a href="">紫狼资讯</a>
							<a href="">加入紫狼</a>
							<a href="">商务合作</a>
							<a href="">紫狼创投</a>
							<a href="">关于紫狼</a>
							<a href="">联系我们</a>
						</ul>
						<p class="copyright">
							© 紫狼集团 2012-2016  苏ICP备15001498
						</p>
					</div>
					<img class="right" src="<%=img%>/sub-logo.png">
				</div>
			</div>
		</li>
	</ul>

<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="js/index.js"></script>
</body>

</html>
